services:
  xray-{{ .Protocol }}:
    container_name: xray-{{ .Protocol }}
    build: .
    ports:
      - "{{ .Port }}:{{ .Port }}"
    restart: always
    volumes:
      - ./{{ .Protocol }}.json:/usr/local/xray/config.json
