{
    "log": {
        "loglevel": "error"
    },
    "inbounds": [
        {
            "listen": "0.0.0.0",
            "port": "{{ .Port }}",
            "protocol": "vless",
            "settings": {
                "clients": [
                    {
                        "id": "{{ .UUID }}",
                        "flow": "xtls-rprx-vision"
                    }
                ],
                "decryption": "none"
            },
            "streamSettings": {
                "network": "tcp",
                "security": "reality",
                "realitySettings": {
                    "dest": "www.cloudflare.com:443",
                    "serverNames": [
                        "www.cloudflare.com"
                    ],
                    "privateKey": "{{ .PrivateKey }}",
                    "shortIds": [
                        ""
                    ]
                }
            },
            "sniffing": {
                "enabled": true,
                "destOverride": [
                    "http",
                    "tls",
                    "quic"
                ],
                "routeOnly": true
            }
        }
    ],
    "outbounds": [
        {
            "protocol": "freedom",
            "tag": "direct"
        }
    ]
}
